/Boss.class
/BossHandLeft.class
/BossHandRight.class
/Bull.class
/Creature$Facing.class
/Creature.class
/Frienemy.class
/Player.class
/Player2.class
/PlayerMirror.class
/Sheep.class
/Wizard.class
/Wizard2.class
